@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

iframe,
img {
  max-width: 100%;
}

html {
  font-size: 4px;
}

body {
  font-size: initial;
  background: var(--mainColor);
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1323px) {
  html {
    font-size: 5px;
  }
}

@media screen and (max-width: 1176px) {
  html {
    font-size: 4px;
  }
}

@media screen and (max-width: 883px) {
  html {
    font-size: 3px;
  }
}

:root {
  --activeColor: #daad51;
  --mainWhite: #fff;
  --btnYellowStill: #D4AD51;
  --btnYellowHover: #F0C052;
  --btnYellowActive: #D4AD51;
  --btnYellowDis: #EBCB80;
  --btnFontStill: #333333;
  --btnFontHover: #262626;
  --btnFontDis: #3C3C3C;
  --btnGrayStill: #0A1422;
  --btnGrayHover: #474F59;
  --btnGrayActive: #0F1D32;
  --btnGrayDis: #595959;
  --btnGrayFontStill: #D4AD51;
  --btnGrayFontHover: #F0C052;
  --btnGrayFontActive: #D4AD51;
  --btnGrayFontDis: #EBCB80;
  --inputColor: #7D7D7D;
  --btnGrayBorderStill: 2px solid #EBCB80;
  --btnGrayBorderHover: 2px solid #EFC669;
  --btnGrayBorderActive: 2px solid #E1B754;
  --border: 2px solid red;
  --btnShadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  --mainColor: #0A1422;
  --sendOkColor: #1EC700;
  --sendErrorColor: red;
  --headerFontFamaly: 'Lora', serif;
  --textFontFamaly: 'Raleway', sans-serif;
}

h1,
h2,
h3 {
  font-family: var(--headerFontFamaly);
}

p,
a,
li,
span,
button,
label,
input {
  font-family: var(--textFontFamaly);
}

a {
  text-decoration: none;
  color: var(--btnGrayStill);
}

ul {
  color: var(--btnGrayStill);
}

.header {
  background: url("../img/headerBg.png") center no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.headerBurger {
  background-color: transparent;
  border: none;
  width: 6rem;
  height: 6rem;
  cursor: pointer;
  margin-top: 6rem;
  margin-right: 18rem;
}

.headerTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.headerTitle img {
  color: var(--mainWhite);
  margin: 43.5rem auto 6rem;
}

.headerTitle .descr {
  color: var(--mainWhite);
  font-size: 9rem;
  line-height: 12rem;
  margin: 0 auto 8rem;
  font-family: var(--headerFontFamaly);
  -webkit-column-count: 1;
          column-count: 1;
  -webkit-column-width: 138rem;
          column-width: 138rem;
  text-align: center;
}

.headerButtonBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

button {
  width: 40rem;
  height: 10rem;
  border-radius: 1rem;
  cursor: pointer;
}

.yellowBtn {
  background-color: var(--btnYellowStill);
  color: var(--btnFontStill);
  margin-right: 6rem;
  border: none;
  margin-bottom: 36rem;
}

.yellowBtn:hover {
  color: var(--btnFontHover);
  background-color: var(--btnYellowHover);
  -webkit-box-shadow: var(--btnShadow);
          box-shadow: var(--btnShadow);
}

.yellowBtn:active {
  color: var(--btnFontHover);
  background-color: var(--btnYellowActive);
}

.yellowBtn:disabled {
  color: var(--btnFontDis);
  background-color: var(--btnYellowStill);
}

.greyBtn {
  background-color: var(--btnGrayStill);
  color: var(--btnGrayFontStill);
  border: var(--btnGrayBorderStill);
}

.greyBtn:hover {
  color: var(--btnGrayFontHover);
  background-color: var(--btnGrayHover);
}

.greyBtn:active {
  color: var(--btnGrayFontActive);
  background-color: var(--btnGrayActive);
}

.greyBtn:disabled {
  color: var(--btnGrayFontStill);
  background-color: var(--btnGrayStill);
}

.headerArrows {
  width: 18rem;
  height: 18rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto 8rem;
}

.headerArrows a {
  color: var(--mainWhite);
  font-size: 8rem;
}

.ctaBlock1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--mainWhite);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 6rem;
  background: url("../img/bgInWhite.png");
}

.left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ctaBlock1TextLeft {
  margin: auto 8rem auto 18rem;
  -webkit-column-count: 1;
          column-count: 1;
  -webkit-column-width: 126rem;
          column-width: 126rem;
}

.ctaBlock1TextLeft button {
  width: 42rem;
}

.ctaBlock1ImgLeft,
.ctaBlock1ImgRight {
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 50%;
  height: 100%;
}

.ctaBlock1ImgLeft img,
.ctaBlock1ImgRight img {
  min-width: 100%;
  min-height: 100%;
}

.ctaBlock1TextRight {
  margin: auto 18rem auto 8rem;
  -webkit-column-count: 1;
          column-count: 1;
  -webkit-column-width: 126rem;
          column-width: 126rem;
}

.textTitle {
  font-size: 12rem;
  line-height: 16rem;
  padding-bottom: 5rem;
}

.textSub {
  font-size: 7rem;
  line-height: 10rem;
  padding-bottom: 5rem;
}

.textDesc {
  margin-bottom: 6rem;
}

.romantick {
  background: url("../img/romantickBg.png") no-repeat center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.romantick .greyBtn {
  margin: 0 auto 36rem;
  width: 54rem;
}

.romantickTitle {
  font-size: 11rem;
  line-height: 16rem;
  color: var(--mainWhite);
  text-align: center;
  padding-top: 44rem;
  padding-bottom: 6rem;
}

.romantickSub {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 24rem;
  color: var(--mainWhite);
  max-width: 130.25rem;
  margin: 0 auto 22.75rem;
  line-height: 6rem;
}

.stock {
  background: #fff;
}

.stock .greyBtn {
  margin-bottom: 47.5rem;
}

.stockBlock {
  padding-left: 36rem;
  padding-bottom: 24rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: url("../img/bgInWhite.png");
}

.stockBlockImg {
  width: 100%;
  height: 148rem;
}

.stockBlockImg img {
  margin-top: 23rem;
  margin-left: 3rem;
}

.stockTitle {
  font-size: 11rem;
  line-height: 12rem;
  margin-top: 34rem;
}

.stockSub {
  font-size: 4rem;
  line-height: 6rem;
  opacity: 0.5;
  margin-top: 6rem;
  width: 90rem;
  height: 24rem;
  margin-bottom: 6rem;
}

.contact {
  background: url("../img/quest.svg") center no-repeat;
  background-size: cover;
}

.contactMap {
  width: 100%;
  height: 112.5rem;
  border: 0;
  background-color: #291A1A;
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.quest {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: var(--mainWhite);
}

.questTitle {
  text-align: center;
  font-size: 12rem;
  line-height: 16rem;
  padding-top: 18.5rem;
}

.questSub {
  text-align: center;
  font-size: 4rem;
  line-height: 6rem;
  padding-bottom: 15rem;
}

.questForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 84rem;
  margin: auto;
}

.questForm input {
  background-color: transparent;
  color: var(--mainWhite);
  border: none;
  border-bottom: 1px solid var(--mainWhite);
  padding-bottom: 1.25rem;
  font-size: 4.5rem;
  line-height: 6.75rem;
}

.questForm input[type="text"] ::-webkit-input-placeholder {
  color: #000;
  opacity: 1;
  background: #fff;
}

.questForm input[type="text"] :-ms-input-placeholder {
  color: #000;
  opacity: 1;
  background: #fff;
}

.questForm input[type="text"] ::-ms-input-placeholder {
  color: #000;
  opacity: 1;
  background: #fff;
}

.questForm input[type="text"] ::placeholder {
  color: #000;
  opacity: 1;
  background: #fff;
}

.questFormBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

.questFormBtn .yellowBtn {
  margin: auto;
}

.name {
  margin-bottom: 10rem;
}

.phone {
  margin-bottom: 10rem;
}

.mess {
  margin-bottom: 9rem;
}

.questCompleteOK,
.questCompleteError {
  text-align: center;
  width: 84rem;
  font-size: 3rem;
  line-height: 4.25rem;
  margin: 6rem auto 22rem;
}

.questCompleteOK {
  color: var(--sendOkColor);
}

.questCompleteError {
  color: var(--sendErrorColor);
}

.questAdr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.questAdrText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.questAdrText p {
  padding: 0 12rem 6rem 6rem;
}

.questAdrSocial {
  padding-top: 10rem;
}

.questAdrSocial a {
  color: var(--btnYellowStill);
}

.questAdrSocial a:last-child {
  margin-left: 6rem;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer a {
  color: var(--mainWhite);
}

.subNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 6rem 18rem;
}

.blockAddress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.blockInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.subNavInfo,
.subNavStock {
  color: var(--mainWhite);
  list-style-type: none;
  margin-right: 24rem;
  font-size: 4rem;
  line-height: 6rem;
}

.subNavInfo li,
.subNavStock li {
  padding: 3rem 0;
}

.subNavInfo span {
  width: 6rem;
  height: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subNavInfo li:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subNavInfo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subNavInfo i {
  padding-right: 6rem;
}

.desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 6rem 12rem 6rem 18rem;
}

.desc a {
  color: var(--mainWhite);
  text-decoration: none;
}

.desc a p {
  font-size: 3rem;
  line-height: 6rem;
  text-align: right;
}

.desc a .descText:nth-child(2) {
  margin-bottom: 6rem;
  opacity: 0.5;
}

.desc a:nth-child(1) {
  opacity: 0.5;
}

.desc a:nth-child(2) {
  opacity: 0.5;
}

.activeMenu {
  font-size: 4rem;
  line-height: 6rem;
  color: var(--activeColor);
}

.menuMain {
  background-color: var(--mainColor);
  position: fixed;
  min-width: 100%;
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}

.menuMain .greyBtn {
  width: 36rem;
  height: 12rem;
}

.menuMain ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 6rem 0;
}

.menuMain ul li {
  margin-right: 12rem;
}

.menuMain ul li a {
  color: var(--mainWhite);
}

.menuMain ul li:last-child i {
  padding-right: 2rem;
}

.other {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo {
  padding-left: 12rem;
}

.otherMain {
  padding-top: 24rem;
  background: url("../img/bgInWhite.png") center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.otherMainTitle {
  font-size: 12rem;
  line-height: 16rem;
  color: var(--mainWhite);
  margin-left: 12rem;
  margin-top: 6rem;
}

.deviMainBlock {
  margin: 12rem auto 0rem;
  width: 138rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.deviMainBlock .yellowBtn {
  width: 48rem;
}

.deviMainBlock input[type="text"] {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--mainWhite);
  font-size: 4rem;
  line-height: 6rem;
  margin-bottom: 12rem;
}

textarea {
  margin-bottom: 12rem;
  padding-top: 2rem;
  padding-left: 4rem;
}

.deviTitle {
  font-size: 9rem;
  line-height: 12rem;
  color: var(--mainWhite);
  text-align: left;
  margin-bottom: 11.5rem;
}

.checkListBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: uppercase;
  color: var(--mainWhite);
  font-size: 3rem;
  line-height: 6rem;
}

.checkListBlock p {
  padding-bottom: 6rem;
}

.chechList {
  max-width: 42rem;
}

.priceList {
  max-width: 18rem;
}

.selectPayments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.paymetsRadio {
  color: var(--mainWhite);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 6rem;
}

.radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 7px;
}

.radio + label {
  position: relative;
  padding: 0 0 0 35px;
  cursor: pointer;
}

.radio + label:before {
  content: '';
  position: absolute;
  top: -3px;
  left: 0;
  width: 5.5rem;
  height: 5.5rem;
  border: 1px solid var(--btnYellowActive);
  border-radius: 50%;
  background-color: transparent;
}

.radio + label:after {
  content: '';
  position: absolute;
  top: 1px;
  left: 4px;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background: var(--btnYellowActive);
  opacity: 0;
  -webkit-transition: .2s;
  transition: .2s;
}

.radio:checked + label:after {
  opacity: 1;
}

.radio:focus + label:before {
  -webkit-box-shadow: 0 0 0 3px rgba(255, 255, 0, 0.7);
          box-shadow: 0 0 0 3px rgba(255, 255, 0, 0.7);
}

.warning {
  border-top: solid 2px var(--btnYellowActive);
  -webkit-column-count: 1;
          column-count: 1;
  -webkit-column-width: 138rem;
          column-width: 138rem;
  color: var(--mainWhite);
  font-size: 3rem;
  line-height: 4.25rem;
  margin-bottom: 6rem;
}

.caution {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 3rem;
  line-height: 6rem;
  margin-bottom: 6rem;
  color: var(--mainWhite);
}

.caution label {
  padding-left: 2rem;
}

.caution span {
  color: var(--btnYellowActive);
}

.modal {
  width: 100%;
  height: 100%;
  display: none;
}

.modalBody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 78rem;
  color: #fff;
  background-color: var(--mainColor);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 3;
}

.modalBody .yellowBtn {
  margin: 6rem auto 8rem;
}

.modalBody a {
  color: var(--btnYellowStill);
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  text-align: center;
  font-size: 5rem;
  font-style: normal;
  font-weight: bold;
}

.modalBodyClose {
  color: var(--btnYellowStill);
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding-bottom: 4rem;
  margin: 2rem;
  cursor: pointer;
}

.modalTitle {
  font-size: 9rem;
  line-height: 12rem;
  text-align: center;
}

.modalBlockInput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modalBlockInput input {
  font-size: 3rem;
  line-height: 4.5rem;
  padding: 2rem 4rem;
  background-color: #fff;
  color: rgba(10, 20, 34, 0.25);
  border: 1px solid var(--btnYellowStill);
  border-radius: 4px;
  font-size: 4rem;
  line-height: 6rem;
}

.modalBlockInput input[type="date"] {
  padding: 2rem 19.5rem;
  background: url("../img/calend.svg") no-repeat center right 10%, #fff;
}

.modalBlockInput .modalInfo {
  margin: 6rem auto;
}

.modalIfOk {
  margin: 55rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modalIfOk .yellowBtn {
  margin: 0 auto;
}

.modalOk {
  font-size: 15rem;
  line-height: 6rem;
  text-align: center;
}

.modalOkTitle {
  font-size: 5rem;
  text-align: center;
}

.modalOkSub {
  font-size: 4rem;
  line-height: 6rem;
  text-align: center;
}

.modalBlockBtnNumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2.5rem;
  margin-bottom: 6rem;
}

.modalBlockBtnNumb button {
  width: 6rem;
  height: 8rem;
  background-color: transparent;
  border: none;
  font-size: 4rem;
  line-height: 6rem;
  text-align: center;
  text-transform: uppercase;
}

.modalBlockBtnNumb input[type="number"] {
  width: 6rem;
  height: 8rem;
  background-color: transparent;
  border: none;
  -moz-appearance: textfield;
  color: var(--mainWhite);
}

.borderDef {
  border: solid 2px var(--btnYellowActive);
}

.modalTable {
  font-size: 3rem;
  line-height: 4.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.switch-btn {
  display: inline-block;
  width: 7.5rem;
  /* ширина переключателя */
  height: 3rem;
  /* высота переключателя */
  border-radius: 3rem;
  /* радиус скругления */
  background: var(--mainColor);
  /* цвет фона */
  border: solid 2px var(--btnYellowActive);
  z-index: 0;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  position: relative;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  /* анимация */
}

.switch-btn::after {
  content: "";
  height: 3rem;
  /* высота кнопки */
  width: 3rem;
  /* ширина кнопки */
  border-radius: 3rem;
  /* радиус кнопки */
  background: var(--mainColor);
  /* цвет кнопки */
  border: solid 2px var(--btnYellowActive);
  top: -0.5rem;
  /* положение кнопки по вертикали относительно основы */
  left: -0.5rem;
  /* положение кнопки по горизонтали относительно основы */
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  /* анимация */
  position: absolute;
  z-index: 1;
}

.switch-on {
  background: var(--btnYellowActive);
}

.switch-on::after {
  left: 3.5rem;
  background: var(--btnYellowActive);
}

textarea {
  background-color: #fff;
  color: rgba(10, 20, 34, 0.25);
  border: 1px solid var(--btnYellowStill);
  border-radius: 4px;
  font-size: 4rem;
  line-height: 6rem;
  resize: none;
  margin: 6rem auto !important;
}

.modalRules {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2rem;
  line-height: 3rem;
  color: var(--btnYellowStill);
  margin: 6rem auto;
}

.modalRules input[type="checkbox"] {
  color: var(--btnYellowStill);
  margin-right: 4rem;
  margin-left: auto;
  background-color: transparent;
}

@media (max-width: 1366px) {
  .modalRules input[type="checkbox"] {
    margin-left: 4rem;
  }
}

.slick-slide {
  z-index: 1 !important;
}

.slick-dots {
  bottom: 20rem !important;
}

#slick-slide-control00 {
  color: var(--mainWhite) !important;
}

.slick-dotted {
  margin-bottom: 0 !important;
}
/*# sourceMappingURL=style.css.map */