* {
  margin: 0;
  padding: 0;
}

iframe,
img {
  max-width: 100%;
}

html {
  font-size: 4px;
}

body {
  font-size: initial;
  background: #291A1A;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1323px) {
  html {
    font-size: 5px;
  }
}

@media screen and (max-width: 1176px) {
  html {
    font-size: 4px;
  }
}

@media screen and (max-width: 883px) {
  html {
    font-size: 3px;
  }
}

:root {
  --mainWhite: #fff;
  --btnYellowStill: #EBCB80;
  --btnYellowHover: #EFC669;
  --btnYellowActive: #E1B754;
  --btnYellowDis: #EBCB80;
  --btnFontStill: #333333;
  --btnFontHover: #262626;
  --btnFontDis: #3C3C3C;
  --btnGrayStill: #595959;
  --btnGrayHover: #737373;
  --btnGrayActive: #4C4C4C;
  --btnGrayFontStill: #EBCB80;
  --btnGrayFontHover: #EFC669;
  --btnGrayFontActive: #E1B754;
  --inputColor: #7D7D7D;
  --btnGrayBorderStill: 2px solid #EBCB80;
  --btnGrayBorderHover: 2px solid #EFC669;
  --btnGrayBorderActive: 2px solid #E1B754;
  --border: 2px solid red;
  font-family: 'Montserrat', sans-serif;
}

.header {
  background: url("../img/headerBg.png") center no-repeat;
  background-size: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.headerBurger {
  background-color: transparent;
  border: none;
  width: 6rem;
  height: 6rem;
  cursor: pointer;
  margin-top: 6rem;
  margin-right: 18rem;
}

.headerTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.headerTitle h1 {
  color: var(--mainWhite);
  margin: 43.5rem auto 6rem;
  font-size: 16rem;
}

.headerTitle .descr {
  color: var(--mainWhite);
  font-size: 4rem;
  margin: 0 auto 8rem;
}

.headerButtonBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

button {
  width: 40rem;
  height: 10rem;
  border-radius: 1rem;
  cursor: pointer;
}

.yellowBtn {
  background-color: var(--btnYellowStill);
  color: var(--btnFontStill);
  margin-right: 6rem;
  border: none;
  margin-bottom: 36rem;
}

.yellowBtn:hover {
  color: var(--btnFontHover);
  background-color: var(--btnYellowHover);
}

.yellowBtn:active {
  color: var(--btnFontHover);
  background-color: var(--btnYellowActive);
}

.yellowBtn:disabled {
  color: var(--btnFontDis);
  background-color: var(--btnYellowStill);
}

.greyBtn {
  background-color: var(--btnGrayStill);
  color: var(--btnGrayFontStill);
  border: var(--btnGrayBorderStill);
}

.greyBtn:hover {
  color: var(--btnGrayFontHover);
  background-color: var(--btnGrayHover);
}

.greyBtn:active {
  color: var(--btnGrayFontActive);
  background-color: var(--btnGrayActive);
}

.greyBtn:disabled {
  color: var(--btnGrayFontStill);
  background-color: var(--btnGrayStill);
}

.headerArrows {
  width: 18rem;
  height: 18rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto 8rem;
}

.headerArrows a {
  color: var(--mainWhite);
  font-size: 8rem;
}

.ctaBlock1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--mainWhite);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 6rem;
}

.left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ctaBlock1TextLeft {
  width: 89.75rem;
  margin: auto;
}

.ctaBlock1ImgLeft,
.ctaBlock1ImgRight {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.ctaBlock1TextRight {
  width: 90rem;
  margin: auto;
}

.textTitle {
  font-size: 8rem;
  padding-bottom: 5rem;
}

.textSub {
  font-size: 4.5rem;
  padding-bottom: 5rem;
}

.textDesc {
  margin-bottom: 6rem;
}

.romantick {
  background: url("../img/romantickBg.png") no-repeat center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.romantick .yellowBtn {
  margin: 0 auto 36rem;
}

.romantickTitle {
  font-size: 11rem;
  color: var(--mainWhite);
  text-align: center;
  padding-top: 44rem;
  padding-bottom: 6rem;
}

.romantickSub {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 24rem;
  color: var(--mainWhite);
  max-width: 130.25rem;
  margin: 0 auto 22.75rem;
  line-height: 6rem;
}

.stock {
  color: var(--mainWhite);
}

.stockBlock {
  padding-left: 36rem;
  padding-bottom: 24rem;
}

.stockTitle {
  font-size: 11rem;
  line-height: 12rem;
  margin-top: 18rem;
}

.stockSub {
  font-size: 4rem;
  line-height: 6rem;
  opacity: 0.5;
  margin-top: 6rem;
  margin-bottom: 8rem;
}

.contact {
  background: url("../img/iPhoneApp.png") no-repeat bottom left 5%, var(--mainWhite);
}

.contactMap {
  width: 100%;
  height: 112.5rem;
  border: 0;
  background-color: #291A1A;
}

.quest {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 33% 37% 30%;
      grid-template-columns: 33% 37% 30%;
      grid-template-areas: "header header header" "sub sub sub" ". form adr";
}

.questTitle {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: header;
  text-align: center;
  font-size: 12rem;
  line-height: 16rem;
  padding-top: 14rem;
}

.questSub {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: sub;
  text-align: center;
  font-size: 4rem;
  line-height: 6rem;
  padding-bottom: 15rem;
}

.questForm {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: form;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "name phone" "mess mess" "bnt bnt";
  margin-right: 20.5rem;
}

.questForm input {
  background-color: transparent;
  color: var(--inputColor);
  border: none;
  border-bottom: 1px solid var(--inputColor);
  padding-bottom: 1.25rem;
  font-size: 4.5rem;
  line-height: 6.75rem;
}

.questFormBtn {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: bnt;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  margin-bottom: 24rem;
}

.questFormBtn .yellowBtn {
  margin: auto;
}

.name {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: name;
  max-width: 42rem;
  margin-bottom: 10rem;
}

.phone {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: phone;
  max-width: 40.75rem;
  margin-bottom: 10rem;
}

.mess {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: mess;
  margin-bottom: 9rem;
  margin-right: 11rem;
}

.questAdr {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: adr;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.questAdrText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.questAdrText p {
  padding: 0 12rem 6rem 6rem;
}

.questAdrSocial {
  padding-top: 10rem;
}

.questAdrSocial a {
  color: var(--btnYellowStill);
}

.questAdrSocial a:last-child {
  margin-left: 6rem;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.subNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 6rem 18rem;
}

.subNavInfo,
.subNavStock {
  color: var(--mainWhite);
  list-style-type: none;
  margin-right: 24rem;
  font-size: 3rem;
  line-height: 6rem;
}

.subNavInfo li:nth-child(1),
.subNavStock li:nth-child(1) {
  opacity: 0.5;
}

.desc {
  margin-right: 12rem;
  margin-top: 6rem;
}

.desc a {
  color: var(--mainWhite);
  text-decoration: none;
}

.desc a p {
  -webkit-column-count: 1;
          column-count: 1;
  -webkit-column-width: 66rem;
          column-width: 66rem;
  font-size: 4rem;
  line-height: 6rem;
  text-align: right;
}

.desc a .descText:nth-child(1) {
  margin-bottom: 6rem;
}

.desc a .descText:nth-child(2) {
  margin-bottom: 18rem;
}

.desc a .descText:nth-child(3) {
  margin-bottom: 6rem;
  opacity: 0.5;
}

.desc a:nth-child(1) {
  opacity: 0.5;
}

.desc a:nth-child(3) {
  opacity: 0.5;
}

.slick-dots {
  bottom: 20rem !important;
}

#slick-slide-control00 {
  color: var(--mainWhite) !important;
}

.slick-dotted {
  margin-bottom: 0 !important;
}
/*# sourceMappingURL=style.css.map */