* {
    margin: 0;
    padding: 0;
}

iframe,
img {
    max-width: 100%;
}

html {
    font-size: 4px;
}

body {
    font-size: initial;
    background: var(--mainColor);
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 1323px) {
    html {
        font-size: 5px;
    }
}

@media screen and (max-width: 1176px) {
    html {
        font-size: 4px;
    }
}

@media screen and (max-width: 883px) {
    html {
        font-size: 3px;
    }
}

@function v($px, $basePix: 4, $minusPx: 0) {
    @if $minusPx==0 {
        @return ($px / $basePix)+rem;
    }

    @return 'calc('+($px / $basePix)+'rem - '+$minusPx+'px)';
}

:root {
    --activeColorHeader: #daad51;
    --mainWhite: #fff;
    --btnYellowStill: #D4AD51;
    --btnYellowHover: #F0C052;
    --btnYellowActive: #D4AD51;
    --btnYellowDis: #EBCB80;
    --btnFontStill: #333333;
    --btnFontHover: #262626;
    --btnFontDis: #3C3C3C;
    --btnGrayStill: #0A1422;
    --btnGrayHover: #474F59;
    --btnGrayActive: #0F1D32;
    --btnGrayDis: #595959;
    --btnGrayFontStill: #D4AD51;
    --btnGrayFontHover: #F0C052;
    --btnGrayFontActive: #D4AD51;
    --btnGrayFontDis: #EBCB80;
    --inputColor: #7D7D7D;
    --btnGrayBorderStill: 2px solid #EBCB80;
    --btnGrayBorderHover: 2px solid #EFC669;
    --btnGrayBorderActive: 2px solid #E1B754;
    --border: 2px solid red;
    --btnShadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
    --mainColor: #0A1422;
    --sendOkColor: #1EC700;
    --sendErrorColor: red;
    // font-family: 'Montserrat', sans-serif;
    --headerFontFamaly: 'Lora', serif;
    --textFontFamaly: 'Raleway', sans-serif;
}

h1,
h2,
h3 {
    font-family: var(--headerFontFamaly);
}

p,
a,
li,
span,
button,
label,
input {
    font-family: var(--textFontFamaly);
}

a {
    text-decoration: none;
    color: var(--btnGrayStill);
}

ul {
    color: var(--btnGrayStill);
}

.header {
    background: url('../img/headerBg.png') center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: row-reverse;
}

.headerBurger {
    background-color: transparent;
    border: none;
    width: v(24);
    height: v(24);
    cursor: pointer;
    margin-top: v(24);
    margin-right: v(72);
}

.headerTitle {
    display: flex;
    flex-direction: column;

    img {
        color: var(--mainWhite);
        margin: v(174) auto v(24);
    }

    .descr {
        color: var(--mainWhite);
        font-size: v(36);
        line-height: v(48);
        margin: 0 auto v(32);
        font-family: var(--headerFontFamaly);
        column-count: 1;
        column-width: v(552);
        text-align: center;
    }
}

.headerButtonBlock {
    display: flex;
    flex-direction: row;
    justify-content: center;
    // margin: 0 auto;

}

button {
    width: v(192);
    height: v(40);
    border-radius: v(4);
    cursor: pointer;
}

.yellowBtn {
    background-color: var(--btnYellowStill);
    color: var(--btnFontStill);
    margin-right: v(24);
    border: none;

    &:hover {
        color: var(--btnFontHover);
        background-color: var(--btnYellowHover);
        box-shadow: var(--btnShadow);
    }

    &:active {
        color: var(--btnFontHover);
        background-color: var(--btnYellowActive);
    }

    &:disabled {
        color: var(--btnFontDis);
        background-color: var(--btnYellowStill);
    }

    margin-bottom: v(144);
}

.greyBtn {
    background-color: var(--btnGrayStill);
    color: var(--btnGrayFontStill);
    border: var(--btnGrayBorderStill);

    &:hover {
        color: var(--btnGrayFontHover);
        background-color: var(--btnGrayHover);
    }

    &:active {
        color: var(--btnGrayFontActive);
        background-color: var(--btnGrayActive);
    }

    &:disabled {
        color: var(--btnGrayFontStill);
        background-color: var(--btnGrayStill);
    }
}

.headerArrows {
    width: v(72);
    height: v(72);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto v(32);

    a {
        color: var(--mainWhite);
        font-size: v(32);
    }

}

.ctaBlock1 {
    display: flex;
    color: var(--mainWhite);
    flex-direction: column;
    line-height: v(24);
    background: url('../img/bgInWhite.png');
}

.left {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.right {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.ctaBlock1TextLeft {
    margin: auto v(32) auto v(72);
    column-count: 1;
    column-width: v(504);

    button {
        width: v(168);
    }
}

.ctaBlock1ImgLeft,
.ctaBlock1ImgRight {
    align-self: flex-start;
    width: 50%;
    height: 100%;

    img {
        min-width: 100%;
        min-height: 100%;
    }
}

.ctaBlock1TextRight {

    margin: auto v(72) auto v(32);
    column-count: 1;
    column-width: v(504);
}

.textTitle {
    font-size: v(48);
    line-height: v(64);
    padding-bottom: v(20);
}

.textSub {
    font-size: v(28);
    line-height: v(40);
    padding-bottom: v(20);
}

.textDesc {
    margin-bottom: v(24);
}

.romantick {
    background: url('../img/romantickBg.png') no-repeat center;
    background-size: cover;
    display: flex;
    flex-direction: column;

    .greyBtn {
        margin: 0 auto v(144);
        width: v(216);
    }
}

.romantickTitle {
    font-size: v(44);
    line-height: v(64);
    color: var(--mainWhite);
    text-align: center;
    padding-top: v(176);
    padding-bottom: v(24);
}

.romantickSub {
    text-align: center;
    font-size: v(16);
    margin-bottom: v(96);
    color: var(--mainWhite);
    max-width: v(521);
    margin: 0 auto v(91);
    line-height: v(24);
}

.stock {

    .greyBtn {
        margin-bottom: v(190);
        width: v(144);
    }

    background: #fff;
}

.stockBlock {
    padding-left: v(144);
    padding-bottom: v(96);
    display: flex;
    background: url('../img/bgInWhite.png');
}

.stockBlockImg {

    width: 100%;
    height: v(592);

    img {
        margin-top: v(92);
        margin-left: v(12);
    }
}

.stockTitle {
    font-size: v(44);
    line-height: v(48);
    margin-top: v(136);
}

.stockSub {
    font-size: v(16);
    line-height: v(24);
    opacity: 0.5;
    margin-top: v(48);
    width: v(360);
    height: v(96);
    margin-bottom: v(24);
}

.contact {
    background: url('../img/quest.svg') center no-repeat;
    background-size: cover;
}

.contactMap {
    width: 100%;
    height: v(450);
    border: 0;
    background-color: #291A1A;
    filter: invert(100%);
}

.quest {
    display: flex;
    flex-direction: column;
    color: var(--mainWhite);
}

.questTitle {
    text-align: center;
    font-size: v(48);
    line-height: v(64);
    padding-top: v(74);
}

.questSub {
    text-align: center;
    font-size: v(16);
    line-height: v(24);
    padding-bottom: v(60);
}

.questForm {
    display: flex;
    flex-direction: column;
    width: v(336);
    margin: auto;

    input {
        background-color: transparent;
        color: var(--mainWhite);
        border: none;
        border-bottom: 1px solid var(--mainWhite);
        padding-bottom: v(5);
        font-size: v(18);
        line-height: v(27);
    }

    input[type="text"] {
        ::placeholder {
            color: #000;
            opacity: 1;
            background: #fff;
        }
    }
}

.questFormBtn {
    display: flex;
    flex-direction: row;
    width: 100%;

    .yellowBtn {
        margin: auto;
    }
}

.name {
    margin-bottom: v(40);
}

.phone {
    margin-bottom: v(40);
}

.mess {
    margin-bottom: v(36);
}

.questCompleteOK,
.questCompleteError {
    text-align: center;
    width: v(336);
    font-size: v(12);
    line-height: v(17);
    margin: v(24) auto v(88);
}

.questCompleteOK {
    color: var(--sendOkColor);
}

.questCompleteError {
    color: var(--sendErrorColor);
}

.questAdr {
    display: flex;
    flex-direction: column;
}

.questAdrText {
    display: flex;

    p {
        padding: 0 v(48) v(24) v(24);
    }
}

.questAdrSocial {
    padding-top: v(40);

    a {
        color: var(--btnYellowStill);

        &:last-child {
            margin-left: v(24);
        }
    }
}

footer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    a {
        color: var(--mainWhite);
    }
}

.subNav {
    display: flex;
    justify-content: space-between;
    margin: v(24) v(72);
}

.blockAddress {
    display: flex;
    flex-direction: row;
}

.blockInfo {
    display: flex;
    justify-content: space-between;
}

.subNavInfo,
.subNavStock {
    color: var(--mainWhite);
    list-style-type: none;
    margin-right: v(96);
    font-size: v(16);
    line-height: v(24);

    li {
        padding: v(12) 0;
    }
}

.subNavInfo {
    span {
        width: v(24);
        height: v(24);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    li:nth-child(1) {
        display: flex;
    }

    a {
        display: flex;

    }

    i {
        padding-right: v(24);
    }
}

.desc {
    display: flex;
    justify-content: space-between;
    margin: v(24) v(48) v(24) v(72);

    a {
        color: var(--mainWhite);
        text-decoration: none;

        p {
            font-size: v(12);
            line-height: v(24);
            text-align: right;
        }

        .descText {

            &:nth-child(1) {}



            &:nth-child(2) {
                margin-bottom: v(24);
                opacity: 0.5;
            }

        }

        &:nth-child(1) {
            opacity: 0.5;
        }

        &:nth-child(2) {
            opacity: 0.5;
        }

    }


}

.menuMain {
    background-color: var(--mainColor);
    position: fixed;
    min-width: 100%;
    display: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    animation: goLeftMenuBg 1s;

    .greyBtn {
        width: v(144);
        height: v(48);
    }

    ul {
        list-style-type: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: v(24) 0;
        color: var(--btnYellowActive);
        

        li {
            margin-right: v(48);

            a {
                color: var(--mainWhite);

                &:active {
                    color: var(--btnYellowActive);
                }

                &:hover {
                    color: var(--activeColorHeader);
                }
            }

            &:last-child {
                i {
                    padding-right: v(8);
                }
            }

            .phone {
                color: var(--btnYellowActive);
            }

            .activeMenuMain {
                color: var(--btnYellowActive);
            }
        }
    }
}


.menuMainSub {
    margin-top: v(96);
    background-color: var(--btnYellowActive);
    color: var(--btnGrayStill);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    min-width: 100%;

    ul {
        display: flex;
        list-style-type: none;
        margin: v(12) 0;
        font-size: v(16);
        line-height: v(24);

        li {
            padding-right: v(48);


            a {
                &:hover {
                    color: var(--mainWhite);
                }
            }

            .activeMenuMainSbu {
                color: var(--mainWhite);
            }

        }
    }
}

.listSub {
    display: flex;
    justify-content: space-between;
}

.nameMenuSub {
    color: var(--mainWhite);
    font-size: v(16);
    line-height: v(24);
    height: v(16);
}

.categorySub {
    margin: v(12) 0 v(12) v(48);
}

.menuMainSubCart {
    margin: v(12) v(48) v(12) 0;
    color: var(--mainWhite);

    i {
        padding-right: v(8);
    }
}

.subArrow {
    width: v(16);
    height: v(16);
    background-color: transparent;
    border: none;
}

.other {
    display: flex;
}

.logo {
    padding-left: v(48);
}

// Deviliry

.otherMain {
    padding-top: v(96);
    background: url('../img/bgInWhite.png') center;
    display: flex;
    flex-direction: column;
}

.otherMainMenu {
    padding-top: v(144);
    padding-bottom: v(32);
    background: url('../img/bgInWhite.png') center, var(--mainWhite);
    display: flex;
    flex-direction: column;
}

.otherMainTitle,
.mainTitleNoSub {
    font-size: v(48);
    line-height: v(64);
    font-weight: normal;
    color: var(--mainWhite);
    margin-left: v(48);
    margin-top: v(24);
}

.mainTitleNoSub{
    transform: translateY(v(-48));
}

.deviMainBlock {
    margin: v(48) auto v(0);
    width: v(552);
    display: flex;
    flex-direction: column;

    input[type="text"] {
        background-color: transparent;
        border: none;
        border-bottom: 2px solid var(--mainWhite);
        font-size: v(16);
        line-height: v(24);
        margin-bottom: v(48);
    }

}

textarea {
    margin-bottom: v(48);
    padding-top: v(8);
    padding-left: v(16);
}

.deviTitle {
    font-size: v(36);
    line-height: v(48);
    font-weight: normal;
    color: var(--mainWhite);
    text-align: left;
    margin-bottom: v(46);
}

.checkListBlock {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    color: var(--mainWhite);
    font-size: v(12);
    line-height: v(24);

    p {
        padding-bottom: v(24);
    }
}

.chechList {
    max-width: v(168);
}

.priceList {
    max-width: v(72);
}

.selectPayments {
    display: flex;
    flex-direction: column;
}

.paymetsRadio {
    color: var(--mainWhite);
    display: flex;
    margin-bottom: v(24);

}

.radio {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 7px;
}

.radio+label {
    position: relative;
    padding: 0 0 0 35px;
    cursor: pointer;
}

.radio+label:before {
    content: '';
    position: absolute;
    top: -3px;
    left: 0;
    width: v(22);
    height: v(22);
    border: 1px solid var(--btnYellowActive);
    border-radius: 50%;
    background-color: transparent;
}

.radio+label:after {
    content: '';
    position: absolute;
    top: 1px;
    left: 4px;
    width: v(16);
    height: v(16);
    border-radius: 50%;
    background: var(--btnYellowActive);
    // box-shadow: inset 0 1px 1px rgba(0, 0, 0, .5);
    opacity: 0;
    transition: .2s;
}

.radio:checked+label:after {
    opacity: 1;
}

.radio:focus+label:before {
    box-shadow: 0 0 0 3px rgba(255, 255, 0, .7);
}

.warning {
    border-top: solid 2px var(--btnYellowActive);
    column-count: 1;
    column-width: v(552);
    color: var(--mainWhite);
    font-size: v(12);
    line-height: v(17);
    margin-bottom: v(24);
}

.caution {
    display: flex;
    font-size: v(12);
    line-height: v(24);
    margin-bottom: v(24);
    color: var(--mainWhite);

    label {
        padding-left: v(8);
    }

    span {
        color: var(--btnYellowActive);
    }
}

// Modal table reserve

.modal {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
}

.modalBody {
    // display: flex;
    display: none;
    flex-direction: column;
    max-width: v(312);
    color: #fff;
    background-color: var(--mainColor);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 3;
    animation: goTopModalRezerv 1s;

    .yellowBtn {
        margin: v(24) auto v(32);
    }

    a {
        color: var(--btnYellowStill);
        text-decoration-line: underline;
        text-align: center;
        font-size: v(20);
        font-style: normal;
        font-weight: bold;
    }
}

.modalBodyClose {
    color: var(--btnYellowStill);
    align-self: flex-end;
    padding-bottom: v(16);
    margin: v(8);
    cursor: pointer;
}

.modalTitle {
    font-size: v(36);
    line-height: v(48);
    text-align: center;
}

.modalBlockInput {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    input {
        font-size: v(12);
        line-height: v(18);
        padding: v(8) v(16);
        background-color: #fff;
        color: rgba(10, 20, 34, 0.25);
        border: 1px solid var(--btnYellowStill);
        border-radius: 4px;
        font-size: v(16);
        line-height: v(24);
    }

    input[type="date"] {
        padding: v(8) v(72);
        background: url('../img/calend.svg') no-repeat center right 10%, #fff;
    }

    .modalInfo {
        margin: v(24) auto;
    }

}

.modalIfOk {
    margin: v(220) auto;
    display: flex;
    flex-direction: column;

    .yellowBtn {
        margin: 0 auto;
    }
}

.modalOk {
    font-size: v(60);
    line-height: v(24);
    text-align: center;
}

.modalOkTitle {
    font-size: v(20);
    text-align: center;
}

.modalOkSub {
    font-size: v(16);
    line-height: v(24);
    text-align: center;
}

.modalBlockBtnNumb {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: v(10);

    button {
        width: v(24);
        height: v(32);
        background-color: transparent;
        border: none;
        font-size: v(16);
        line-height: v(24);
        text-align: center;
        text-transform: uppercase;
    }

    input[type="number"] {
        width: v(24);
        height: v(32);
        background-color: transparent;
        border: none;
        -moz-appearance: textfield;
        color: var(--mainWhite);
    }

    margin-bottom: v(24);
}

.borderDef {
    border: solid 2px var(--btnYellowActive);
}

.modalTable {
    font-size: v(12);
    line-height: v(18);
    padding: 0 v(48);
    display: flex;
    align-items: center;
    .changeTable{
        transform: translateX(v(-5));
    }
}

.switch-btn {
    display: inline-block;
    width: v(18);
    /* ширина переключателя */
    height: v(12);
    /* высота переключателя */
    border-radius: v(12);
    /* радиус скругления */
    background: var(--mainColor);
    /* цвет фона */
    border: solid 2px var(--btnYellowActive);
    z-index: 0;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
    position: relative;
    transition-duration: 300ms;
    /* анимация */
}

.switch-btn::after {
    content: "";
    height: v(12);
    /* высота кнопки */
    width: v(12);
    /* ширина кнопки */
    border-radius: v(12);
    /* радиус кнопки */
    background: var(--mainColor);
    /* цвет кнопки */
    border: solid 2px var(--btnYellowActive);
    top: v(-2);
    /* положение кнопки по вертикали относительно основы */
    left: v(-2);
    /* положение кнопки по горизонтали относительно основы */
    transition-duration: 300ms;
    /* анимация */
    position: absolute;
    z-index: 1;
}

.switch-on {
    background: var(--btnYellowActive);
}

.switch-on::after {
    left: v(4);
    background: var(--btnYellowActive);
}


textarea {
    background-color: #fff;
    color: rgba(10, 20, 34, 0.25);
    border: 1px solid var(--btnYellowStill);
    border-radius: 4px;
    font-size: v(16);
    line-height: v(24);
    resize: none;
    margin: v(24) auto !important;
}

.modalRules {
    display: flex;
    font-size: v(8);
    line-height: v(12);
    color: var(--btnYellowStill);
    margin: v(24) auto;

    input[type="checkbox"] {
        color: var(--btnYellowStill);
        margin-right: v(16);
        margin-left: auto;
        background-color: transparent;

        @media (max-width: 1366px) {
            margin-left: v(16);
        }
    }
}

// Modal artcile block

.modalBg {
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    display: none;
    width: 100vw;
    height: 100vh;
    z-index: 100;
}

.modalArticleM {
    // display: flex;
    display: none;
    position: fixed;
    top: 10%;
    left: 38%;
    width: v(312);
    color: var(--mainWhite);
    background-color: var(--mainColor);
    z-index: 200;

    .yellowBtn {
        grid-area: button;
        width: v(312);
        height: v(48);
        border-radius: 0;
        margin-top: v(25);
        margin-bottom: 0;
    }
}

.articleTitleM {
    font-weight: normal;
    font-size: v(20);
    padding: v(25) v(24) v(24);
    width: v(267);
    height: v(71);
    line-height: normal;
}

.articleOptBlockM {
    display: flex;
    justify-content: space-between;
    padding: 0 v(24);
    font-weight: bold;
    font-size: v(20);
    width: v(264);

    span {
        column-width: v(120);

        &:first-child {
            color: var(--btnYellowStill);
        }

        &:last-child {
            text-align: end;
        }
    }

}

.articleTotalM {
    display: flex;
    align-items: center;
    padding: v(24);

    span {
        margin-right: v(16);
    }

    .plus,
    .minus {
        width: v(24);
        height: v(24);
        color: var(--btnYellowActive);
        background-color: transparent;
        border: none;

    }

    input[type="number"] {
        width: v(24);
        height: v(24);
        background-color: transparent;
        border: none;
        -moz-appearance: textfield;
        color: var(--mainWhite);
        text-align: center;
    }
}

.articleDescrM {
    font-weight: normal;
    font-size: v(16);
    line-height: v(24);
    column-width: v(264);
    padding: 0 v(24);
}

// Menu

.otherMainMenu {
    h1 {
        color: #000;
    }

    display: flex;
    flex-direction: column;
}

.menuBlockArticle {
    margin-top: v(48);
    margin-left: v(48);
    margin: v(48) auto v(32);
    max-width: v(1152);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: v(24);
    grid-row-gap: v(24);

    @media (max-width: 800) {
        grid-template-columns: repeat(2, 1fr);
    }
}

.articleBlock {
    background: linear-gradient(180deg, rgba(10, 20, 34, 0) 0%, rgba(10, 20, 34, 0.2) 56.25%, rgba(10, 20, 34, 0.8) 100%), url('../img/cartImg.jpg') center no-repeat;
    background-size: cover;
    width: v(264);
    height: v(384);
    border-radius: v(8);
    cursor: pointer;

    &:hover {
        border: 4px solid var(--btnYellowActive);
        background: linear-gradient(180deg, rgba(10, 20, 34, 0) 0%, rgba(10, 20, 34, 0.2) 56.25%, rgba(10, 20, 34, 0.8) 100%), url('../img/cartImg.jpg') center no-repeat;
        border-radius: v(8);
        box-sizing: border-box;

        .articleEye {
            visibility: visible
        }

        .articleDesc {
            padding: 0 v(20) v(16);
            margin-top: v(180);
        }

        .articleFooter {
            padding: 0 v(20) v(24);
        }
    }
}

.articleEye {
    margin: v(8) v(8) 0 0;
    color: var(--mainWhite);
    display: flex;
    flex-direction: row-reverse;
    visibility: hidden;
    height: v(24);
}

.articleDesc {
    display: flex;
    align-items: flex-end;
    color: var(--mainWhite);
    padding: v(184) v(24) v(16);
    height: v(96);
    font-size: v(20);
    column-width: v(216);
    font-weight: normal;
    font-family: var(--textFontFamaly);
}

.articleFooter {
    color: var(--mainWhite);
    padding: 0 v(24) v(24);
    display: flex;
    justify-content: space-between;
    align-items: center;

    .yellowBtn {
        margin: 0;
        font-size: v(12);
        line-height: v(24);
        width: v(144);
        height: v(32);
    }
}

.articleGramm {
    column-width: v(56);
}

// Stock

.stockBlockPage{
    margin-top: v(28);
    display: flex;
    flex-direction: column;
    max-width: v(1224);
    margin: auto;
}

.stockLeftBlock{
    display: flex;
    flex-direction: row;
}

.stockRightBlock{
    display: flex;
    flex-direction: row-reverse;
}

.stockBlockText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    column-count: 1;
    width: v(504);
    margin: auto v(36) auto v(72);
}

.stockBlockTitle{
    text-align: left;
    margin-bottom: v(24);
}

.stockTextDescr{
    margin-bottom: v(16);
}

// Key Frame

@keyframes goLeftMenuBg{
    0%{
        margin-left: 100%;
        background-color: transparent;
        opacity: 0;
    }

    100%{
        margin-left: 0%;
        background-color: var(--mainColor);
        opacity: 1;
    }
}
@keyframes goTopModalRezerv{
    0%{
        height: 0;
        opacity: 0;
        margin-right: v(-312);
    }
    100%{
        height: 100%;
        opacity: 1;
        margin-right: 0;
    }
}

// slick
.slick-slide {
    z-index: 1 !important;
}

.slick-dots {
    bottom: v(80) !important;

    li {
        button {
            &::before {
                color: var(--mainWhite) !important;
                font-size: v(12) !important;
            }
        }
    }
}

#slick-slide-control00 {
    color: var(--mainWhite) !important;
}

.slick-dotted {
    margin-bottom: 0 !important;
}

// -----------------------------------------