* {
    margin: 0;
    padding: 0;
}

iframe,
img {
    max-width: 100%;
}

html {
    font-size: 4px;
}

body {
    font-size: initial;
    background: #291A1A;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 1323px) {
    html {
        font-size: 5px;
    }
}

@media screen and (max-width: 1176px) {
    html {
        font-size: 4px;
    }
}

@media screen and (max-width: 883px) {
    html {
        font-size: 3px;
    }
}

@function v($px, $basePix: 4, $minusPx: 0) {
    @if $minusPx==0 {
        @return ($px / $basePix)+rem;
    }

    @return 'calc('+($px / $basePix)+'rem - '+$minusPx+'px)';
}

:root {
    --activeColor: #daad51;
    --mainWhite: #fff;
    --btnYellowStill: #EBCB80;
    --btnYellowHover: #EFC669;
    --btnYellowActive: #E1B754;
    --btnYellowDis: #EBCB80;
    --btnFontStill: #333333;
    --btnFontHover: #262626;
    --btnFontDis: #3C3C3C;
    --btnGrayStill: #595959;
    --btnGrayHover: #737373;
    --btnGrayActive: #4C4C4C;
    --btnGrayFontStill: #EBCB80;
    --btnGrayFontHover: #EFC669;
    --btnGrayFontActive: #E1B754;
    --inputColor: #7D7D7D;
    --btnGrayBorderStill: 2px solid #EBCB80;
    --btnGrayBorderHover: 2px solid #EFC669;
    --btnGrayBorderActive: 2px solid #E1B754;
    --border: 2px solid red;
    font-family: 'Montserrat', sans-serif;
}
a {
    text-decoration: none;
    color: var(--btnGrayStill);
}

ul{
    color: var(--btnGrayStill);
}
.header {
    background: url('../img/headerBg.png') center no-repeat;
    background-size: 100%;
    display: flex;
    flex-direction: column
}

header {
    display: flex;
    flex-direction: row-reverse;
}

.headerBurger {
    background-color: transparent;
    border: none;
    width: v(24);
    height: v(24);
    cursor: pointer;
    margin-top: v(24);
    margin-right: v(72);
}

.headerTitle {
    display: flex;
    flex-direction: column;

    h1 {
        color: var(--mainWhite);
        margin: v(174) auto v(24);
        font-size: v(64);
    }

    .descr {
        color: var(--mainWhite);
        font-size: v(16);
        margin: 0 auto v(32);
    }
}

.headerButtonBlock {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

button {
    width: v(160);
    height: v(40);
    border-radius: v(4);
    cursor: pointer;
}

.yellowBtn {
    background-color: var(--btnYellowStill);
    color: var(--btnFontStill);
    margin-right: v(24);
    border: none;

    &:hover {
        color: var(--btnFontHover);
        background-color: var(--btnYellowHover);
    }

    &:active {
        color: var(--btnFontHover);
        background-color: var(--btnYellowActive);
    }

    &:disabled {
        color: var(--btnFontDis);
        background-color: var(--btnYellowStill);
    }

    margin-bottom: v(144);
}

.greyBtn {
    background-color: var(--btnGrayStill);
    color: var(--btnGrayFontStill);
    border: var(--btnGrayBorderStill);

    &:hover {
        color: var(--btnGrayFontHover);
        background-color: var(--btnGrayHover);
    }

    &:active {
        color: var(--btnGrayFontActive);
        background-color: var(--btnGrayActive);
    }

    &:disabled {
        color: var(--btnGrayFontStill);
        background-color: var(--btnGrayStill);
    }
}

.headerArrows {
    width: v(72);
    height: v(72);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto v(32);

    a {
        color: var(--mainWhite);
        font-size: v(32);
    }

}

.ctaBlock1 {
    display: flex;
    color: var(--mainWhite);
    flex-direction: column;
    line-height: v(24);
}

.left {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // border: var(--border);
}

.right {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.ctaBlock1TextLeft {
    // margin: v(112) auto v(104) auto;
    width: v(359);
    margin: auto;

}

.ctaBlock1ImgLeft,
.ctaBlock1ImgRight {
    align-self: flex-start;
}

.ctaBlock1TextRight {
    width: v(360);
    margin: auto;
}

.textTitle {
    font-size: v(32);
    padding-bottom: v(20);
}

.textSub {
    font-size: v(18);
    padding-bottom: v(20);
}

.textDesc {
    margin-bottom: v(24);
}

.romantick {
    background: url('../img/romantickBg.png') no-repeat center;
    background-size: cover;
    display: flex;
    flex-direction: column;

    .yellowBtn {
        margin: 0 auto v(144);
    }
}

.romantickTitle {
    font-size: v(44);
    color: var(--mainWhite);
    text-align: center;
    padding-top: v(176);
    padding-bottom: v(24);
}

.romantickSub {
    text-align: center;
    font-size: v(16);
    margin-bottom: v(96);
    color: var(--mainWhite);
    max-width: v(521);
    margin: 0 auto v(91);
    line-height: v(24);
}

.stock {
    color: var(--mainWhite);
}

.stockBlock {
    padding-left: v(144);
    padding-bottom: v(96);
}

.stockTitle {
    font-size: v(44);
    line-height: v(48);
    margin-top: v(72);
}

.stockSub {
    font-size: v(16);
    line-height: v(24);
    opacity: 0.5;
    margin-top: v(24);
    margin-bottom: v(32);
}

.contact {
    background: url('../img/iPhoneApp.png') no-repeat bottom left 5%, var(--mainWhite);
}

.contactMap {
    width: 100%;
    height: v(450);
    border: 0;
    background-color: #291A1A;
}

.quest {
    display: grid;
    grid-template-columns: 33% 37% 30%;
    grid-template-areas:
        "header header header"
        "sub sub sub"
        ". form adr";
}

.questTitle {
    grid-area: header;
    text-align: center;
    font-size: v(48);
    line-height: v(64);
    padding-top: v(56);
}

.questSub {
    grid-area: sub;
    text-align: center;
    font-size: v(16);
    line-height: v(24);
    padding-bottom: v(60);
}

.questForm {
    grid-area: form;
    display: grid;
    grid-template-areas:
        "name phone"
        "mess mess"
        "bnt bnt";

    input {
        background-color: transparent;
        color: var(--inputColor);
        border: none;
        border-bottom: 1px solid var(--inputColor);
        padding-bottom: v(5);
        font-size: v(18);
        line-height: v(27);
    }

    margin-right: v(82);
}

.questFormBtn {
    grid-area: bnt;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: v(96);

    .yellowBtn {
        margin: auto;
    }
}

.name {
    grid-area: name;
    max-width: v(168);
    margin-bottom: v(40);
}

.phone {
    grid-area: phone;
    max-width: v(163);
    margin-bottom: v(40);
}

.mess {
    grid-area: mess;
    margin-bottom: v(36);
    margin-right: v(44);
}

.questAdr {
    grid-area: adr;
    display: flex;
    flex-direction: column;
}

.questAdrText {
    display: flex;

    p {
        padding: 0 v(48) v(24) v(24);
    }
}

.questAdrSocial {
    padding-top: v(40);

    a {
        color: var(--btnYellowStill);

        &:last-child {
            margin-left: v(24);
        }
    }
}

footer {
    display: flex;
    justify-content: space-between;
}

.subNav {
    display: flex;
    margin: v(24) v(72);
}

.subNavInfo,
.subNavStock {
    color: var(--mainWhite);
    list-style-type: none;
    margin-right: v(96);
    font-size: v(12);
    line-height: v(24);

    li {
        &:nth-child(1) {
            opacity: 0.5;
        }
    }
}

.desc {

    margin-right: v(48);
    margin-top: v(24);

    a {
        color: var(--mainWhite);
        text-decoration: none;

        p {
            column-count: 1;
            column-width: v(264);
            font-size: v(16);
            line-height: v(24);
            text-align: right;
        }
        .descText {

            &:nth-child(1) {
                margin-bottom: v(24);
            }
    
            &:nth-child(2) {
                margin-bottom: v(72);
            }
    
            &:nth-child(3) {
                margin-bottom: v(24);
                opacity: 0.5;
            }
        
        }
        &:nth-child(1){
            opacity: 0.5;
        }
        &:nth-child(3){
            opacity: 0.5;
        }
        
    }

    
}

.activeMenu{
    font-size: v(16);
    line-height: v(24);
    color: var(--activeColor);
}

.menuMain{
    background-color: var(--mainWhite);
    position: fixed;
    min-width: 100%;
    display: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    ul{
        list-style-type: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: v(16) 0;
        li{
            margin-right: v(48);
            &:last-child{
                i{
                    padding-right: v(8);
                }
            }
        }
    }
}

.logo{
    padding-left: v(48);
}

// slick
.slick-dots {
    bottom: v(80) !important;
}

#slick-slide-control00 {
    color: var(--mainWhite) !important;
}

.slick-dotted {
    margin-bottom: 0 !important;
}

// -----------------------------------------